/*
header and selected nav: #72B1CD
second bar: #C2DEEF
unselected nav text: #2377BB
"sign in with twitter": ##2377BB
sign in now bg: #F2F7FA (btn is actually same as mobile.twitter's
"sign in now": #2377BB
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
  font-family: Gill, Helvetica, sans-serif;
}

h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: thin;
  color: #2377BB;
}

img {
  border: 0;
}

.banner {
  padding: 0.6em 0;
  vertical-align: center;
  margin: 0 auto;
  text-align: center;
}

#top {
  background: #72B1CD;
  font-size: 12px;
}

#navbar {
  background: #C2DEEF;
  font-size: 15px;
}

#navbar a {
  padding: 0.3em 0.5em;
  margin-right: 0.8em;
}

#navbar a.current {
  background: #72B1CD;
  color: white;
}

#underbar {
  font-size: 12px;
}

/* InfoWindows */

.image-td {
  vertical-align: top;
}

.profile-pic {
  float: left;
  margin-right: 6px;
}

.full-name {
  color: #0073AB;
}

.screen-name {
  color: #17B1C8;
}

.tweet-text {
  color: #4D4D4D;
  margin-top: 2px;
  max-width: 350;
  padding: 0;
  font-size: 13px;
}

.created-at {
  color: #737373;
}

/* Questionnaire */

#who_should_i_meet #navbar {
  background: #C2DEEF;
  color: #666;
  font-size: 15px;
}

#who_should_i_meet #navbar .inner {
  text-align: left;
  max-width: 500px;
  padding: 0 8px;
  margin: 0 auto;
}

#questionnaire li {
  border: 2px solid #dadada;
  color: #2377BB;
  display: inline-block;
  font-size: 13px;
  padding: 3px 8px;
  margin: 3px 7px;
}

#questionnaire li.selected {
  background: #72B1CD;
  border: 2px solid #72B1CD;
  color: white;
}

#questionnaire h3 {
  color: #666;
  font-size: 16px;
  margin: 12px 0 6px;
}