/*
header and selected nav: #72B1CD
second bar: #C2DEEF
unselected nav text: #2377BB
"sign in with twitter": ##2377BB
sign in now bg: #F2F7FA (btn is actually same as mobile.twitter's
"sign in now": #2377BB
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
  font-family: Gill, Helvetica, sans-serif;
}

h2, h3 {
  font-weight: normal;
  margin-left: 3px;
}

a {
  text-decoration: none;
  font-weight: thin;
  color: #2377BB;
}

img {
  border: 0;
}

.banner {
  padding: 0.6em 0;
  vertical-align: center;
  margin: 0 auto;
  text-align: center;
}

#top {
  background: #72B1CD;
  font-size: 12px;
}

#navbar {
  background: #C2DEEF;
  font-size: 15px;
}

#navbar a {
  padding: 0.3em 0.5em;
  margin-right: 0.8em;
}

#navbar a.current {
  background: #72B1CD;
  color: white;
}

#meet-box {
  -moz-border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 white;
  border:3px solid #CCCCCC;
  cursor:pointer;
  display:none;
  font-size:20px;
  font-weight:bold;
  left:50%;
  margin:0 auto 0 -155px;
  opacity:0.8;
  padding:20px 30px;
  position:absolute;
  text-align:center;
  top:88px;
  width:240px;
  z-index:999;
}

#tap {
  color: red;
}

/* InfoWindows */

.image-td {
  vertical-align: top;
}

.tweetUserPopup .profile-pic {
  float: left;
  margin-right: 6px;
}

.tweetUserPopup .full-name {
  color: #0073AB;
}

.screen-name {
  color: #17B1C8;
}

.tweet-text {
  color: #4D4D4D;
  margin-top: 2px;
  max-width: 350;
  padding: 0;
  font-size: 13px;
}

.created-at {
  color: #737373;
}

/* Questionnaire */

#who_should_i_meet #navbar {
  background: #C2DEEF;
  color: #666;
  font-size: 15px;
}

#who_should_i_meet #navbar .inner {
  text-align: left;
  max-width: 500px;
  padding: 0 8px;
  margin: 0 auto;
}

#questionnaire li {
  border: 2px solid #dadada;
  color: #2377BB;
  display: inline-block;
  font-size: 13px;
  padding: 3px 8px;
  margin: 3px 7px;
}

#questionnaire li:hover {
  cursor: pointer;
}

#questionnaire li.selected {
  background: #72B1CD;
  border: 2px solid #72B1CD;
  color: white;
}

#questionnaire h3 {
  color: #666;
  font-size: 16px;
  margin: 12px 0 6px;
}

.twitter-person {
  background: #F5F5F5;
  color: #666;
  font-size: 13px;
  padding: 3px;
  margin: 3px;
  width: auto;
}

.twitter-person .role {
  color: #E2E2E2;
}

.twitter-person .profile-image {
  display: inline;
  float: left;
  margin: 3px 11px 6px 3px;
  height: 38px;
  width: 38px;
}

.twitter-person .meta {
  color: #999999;
}

.twitter-person .meta span {
  color: #444;
  margin-right: 5px;
}

#donebutton {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  background: #dadada;
  border: 1px solid gray;
  cursor:pointer;
  width: auto;
  padding: 6px 10px;
  text-align: center;
  margin: 8px 6px;
}

#donebutton:active {
  background: #999999;
}

